@import url("../styles/App.css");

.blog {
  border: 1px solid var(--color-secondary);
  margin-bottom: 20px;
}

.title {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-secondary);
}

.title h4 {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-white);
  padding-bottom: 5px;
}

.title p {
  font-family: var(--font-r);
  color: var(--color-secondary);
}

.article {
  padding: 10px 10px 0 10px;
}

.article > p {
  color: var(--color-secondary);
  margin-top: 15px;
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP Printers */
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

.readDate {
  font-family: var(--font-g);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.readDate p {
  font-size: 0.8rem;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

.tags {
  margin-bottom: 1px;
  display: flex;
  padding: 10px;
}
