@import url("../styles/App.css");

.blogs {
  padding: 0 10px;
  max-width: 700px;
  margin: 0 auto;
}

.blogs h2 {
  font-size: 2rem;
  /* text-align: center; */
  font-weight: 300;
  margin-bottom: 40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 599px) {
  .blogs {
    margin-top: 40px !important;
  }
}
