@import url("../styles/App.css");

.connect {
  padding: 0 10px;
  max-width: 700px;
  margin: 0 auto;
}

.connect h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.connect > p {
  font-size: 1.1rem;
  color: var(--color-secondary);
  text-align: center;
}

.social {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.media {
  width: fit-content;
  padding: 4px 12px 7px 12px;
  border-radius: 7px;
}

.media a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-secondary);
  transition: all 0.3s;
}

.media a:hover {
  color: var(--color-white);
}

.connect > span {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 40px 0;
}

.message {
  margin-top: 20px;
}

.message form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-top: 5px;
  background-color: var(--color-black-2);
  color: var(--color-white);
  font-family: var(--font-g);
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-radius: 5px;
  outline: none;
}

::placeholder {
  font-size: 1.1rem;
  color: var(--color-secondary);
}

form input {
  padding: 10px;
  border: none;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  background-color: var(--color-black-2);
  font-family: var(--font-g);
  outline: none;
  border-radius: 10px;
}

form button p {
  color: var(--color-white);
  /* padding-bottom: 3px; */
  padding-left: 5px;
  font-size: 1.1rem;
  font-weight: 400;
}

form button i {
  display: block;
  font-size: 1.2rem;
  color: var(--color-primary);
  padding-right: 5px;
}

form button:hover i {
  color: var(--color-white) !important;
}

form textarea {
  border: none;
  padding: 10px;
  height: 150px;
  resize: vertical;
}

@media screen and (min-width: 599px) {
  form button {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
