@import url("/src/styles/App.css");

.footer {
  border-top: 2px dashed var(--color-secondary);
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-top: 40px;
}

.name {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: var(--font-g);
}

.annot {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.annot p {
  opacity: 0.5;
}

.annot > span {
  display: inline-flex;
  padding: 0 10px;
  font-size: 1.1rem;
  color: var(--color-white);
}

.annot p span {
  font-weight: 500;
}

.annot > span:hover {
  color: var(--color-red);
  cursor: pointer;
  animation: beat 1s infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
