@import url("/src/styles/App.css");

.footer {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-top: 40px;
}

.name {
  /* color: var(--color-primary); */
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: var(--font-g);
  background: linear-gradient(
    to right,
    var(--color-white) 50%,
    var(--color-primary) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name:hover {
  background: linear-gradient(
    to right,
    var(--color-primary) 50%,
    var(--color-white) 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.annot {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.annot p {
  opacity: 0.5;
}

.annot > span {
  display: inline-flex;
  padding: 0 10px;
  font-size: 1.1rem;
  color: var(--color-white);
}

.annot p span {
  font-weight: 500;
}

.annot > span:hover {
  color: var(--color-red);
  cursor: pointer;
  animation: beat 1s infinite;
}

@keyframes beat {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
