@import url("../styles/App.css");

.fullBlog {
  padding: 0 10px;
  max-width: 700px;
  margin: 0 auto;
}

.fullBlog h1 {
  font-family: var(--font-r);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin: 60px auto 80px auto;
  width: fit-content;
  padding: 8px 15px;
  border-radius: 8px;
  border: 2px solid var(--color-white);
  color: var(--color-primary);
}

.fullBlog h2 {
  font-size: 2rem;
  font-weight: 400;
  border-bottom: 2px solid var(--color-primary);
  /* text-align: center; */
  /* width: fit-content;
  margin-left: auto;
  margin-right: auto; */
  padding-bottom: 15px;
}

.readDate {
  font-family: var(--font-g);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 40px 0;
}

.readDate p {
  font-size: 0.8rem;
}

.article p {
  font-size: 1.1rem;
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP Printers */
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  color: var(--color-secondary);
}

.tags {
  display: flex;
  margin: 20px 0;
}
