@import url("/src/styles/App.css");

.home {
  padding: 0 8px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.name {
  margin-bottom: 40px;
}

.name h1 {
  font-weight: 300;
  font-size: 2.1rem;
  text-align: center;
}

.annot {
  margin: 20px 0;
  font-size: 1.2rem;
}

.name p {
  text-align: center;
  color: var(--color-secondary);
}

.resume {
  margin: 40px 0;
}

.resume h2 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto 20px auto;
  
}

.option {
  padding: 0 5px;
  flex: 1;
}

.option button {
  padding: 10px 20px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-black-2);
  font-family: var(--font-g);
  border: none;
}

.option button:hover {
  /* background: linear-gradient(
    to right,
    var(--color-white),
    var(--color-primary),
    var(--color-white)
  ); */
  /* box-shadow: 0px 0px 0px var(--color-secondary); */
}

.option button i {
  color: var(--color-primary);
}

.option button:hover i {
  color: var(--color-white);
}

.version p {
  color: var(--color-secondary);
  text-align: center;
  font-size: 0.8rem;
}

.version p span {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
}

@media screen and (min-width: 599px) {
  .name h1 {
    font-size: 2.7rem;
  }
  .resume {
    margin: 80px 0;
  }
  .resume h2 {
    margin-bottom: 40px;
  }
  .options {
    margin-bottom: 40px;
  }
}
