@import url("../styles/App.css");

.skills {
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.skill {
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.skill i,
.tool i {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.5rem;
  border: 2px solid var(--color-white);
  border-radius: 5px;
  color: var(--color-primary);
}

.skill h2,
.tool h2 {
  font-weight: 300;
  border-bottom: 1px solid var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.skill p,
.tool p {
  color: var(--color-secondary);
  /* text-align: left; */
  padding-left: 20px;
  font-size: 1.1rem;
  background-color: var(--color-black-2);
  padding: 5px;
  border-radius: 5px;
  margin: 5px auto;
  max-width: 200px;
}

.skill p:hover,
.tool p:hover {
  color: var(--color-white);
}

/* .skill p::before,
.tool p::before {
  content: "> ";
} */

.tool {
  flex: 1;
  text-align: center;
  margin: 0 10px;
}
